<h1>Caminatas Disponibles <small>en este momento</small></h1>
<hr>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">


    <div class="carousel-item active">
      <img src="assets/img/quebrada.jpg" alt="Card image cap">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="">Cabalgata y senderismo por la quebrada (2 días/16 km)</h4>
        <p class="">Disfruta de una experiencia de comunion entre el hombre y el caballo en la quebrada de los cuercos,    paisajes geológicos formados 1500 milloones de años, diversidad de fauna y flora autóctona. Hipotermal, subtropical</p>
        <p class=""><small class="text-muted">Precio U$S por personas. Consulta por promociones! + cabaña</small></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="assets/img/quebrada.jpg" alt="Card image cap">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="">Las aves de Rocha. Cerro Verde y Laguna Negra (2 días/12 Km)</h3>
        <p class="">Uno de los tesoros naturales de aves mas importantes del mundo. Con mas de 1000 especies de aves como la garza.</p>
        <p class=""><small class="text-muted">Precio U$S por personas. Consulta por promociones! + hostel</small></p>
      </div>
    </div>

    <div class="carousel-item">
      <img class="" src="assets/img/quebrada.jpg" alt="Card image cap">
      <div class="carousel-caption d-none d-md-block">
        <h3>San Miguel (1 día / 4 km)</h3>
        <p>Vista panorámica, aves, cuervos, estrellas.</p>
        <p><small class="text-muted">Precio U$S por personas. Consulta por promociones! + sin alojamiento</small></p>
      </div>
    </div>
  </div>
</div>
